{% extends "base_generic.html" %}

{% block title %}
    Home Page
{% endblock  %}
{% block content %}
    <h1>Local Library Home</h1>
    <p>Welcome to LocalLibrary, a website develop by <em>Hoàng Trung Nguyên</em></p>
    <h2>Dynamic Content</h2>
    <p>The library has the following records:</p>
    <ul>
        <li><b>Books: </b>{{ num_books }}</li>
        <li><b>Copies: </b>{{ num_instances }}</li>
        <li><b>Copies available: </b>{{ num_instances_available }}</li>
        <li><b>Authors: </b>{{ num_authors }}</li>
        <li><b>Genres: </b>{{ num_genre }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}
